dat_file_parser/example-data/schema.xml

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="datafile">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="header">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="id" type="xs:int" />
							<xs:element name="name" type="xs:string" />
							<xs:element name="description" type="xs:string" />
							<xs:element name="version" type="xs:string" />
							<xs:element name="date" type="xs:string" minOccurs="0" />
							<xs:element name="author" type="xs:string" />
							<xs:element name="homepage" type="xs:string" minOccurs="0" />
							<xs:element name="url" type="xs:string" minOccurs="0" />
							<xs:element name="subset" type="xs:string" minOccurs="0" />
							<xs:element name="clrmamepro" minOccurs="0" >
								<xs:complexType>
									<xs:attribute name="forcenodump" default="obsolete" use="optional">
										<xs:simpleType>
											<xs:restriction base="xs:token">
												<xs:enumeration value="obsolete"/>
												<xs:enumeration value="required"/>
												<xs:enumeration value="ignore"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:attribute>
									<xs:attribute name="header" type="xs:string" use="optional" />
								</xs:complexType>
							</xs:element>
							<xs:element name="romcenter" minOccurs="0" >
								<xs:complexType>
									<xs:attribute name="plugin" type="xs:string" use="optional" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="game" minOccurs="0" maxOccurs="unbounded" >
					<xs:complexType>
						<xs:sequence>
							<xs:element name="category" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
							<xs:element name="description" type="xs:string" />
							<xs:element name="rom">
								<xs:complexType>
									<xs:attribute name="name" type="xs:string" use="required" />
									<xs:attribute name="size" type="xs:unsignedInt" use="required" />
									<xs:attribute name="crc" type="xs:string" use="required" />
									<xs:attribute name="md5" type="xs:string" use="required" />
									<xs:attribute name="sha1" type="xs:string" use="required" />
									<xs:attribute name="sha256" type="xs:string" use="optional" />
									<xs:attribute name="status" type="xs:string" use="optional" />
									<xs:attribute name="serial" type="xs:string" use="optional" />
									<xs:attribute name="header" type="xs:string" use="optional" />
								</xs:complexType>
							</xs:element>
							<xs:element name="release" minOccurs="0" maxOccurs="unbounded" >
								<xs:complexType>
									<xs:attribute name="name" type="xs:string" use="required" />
									<xs:attribute name="region" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="name" type="xs:string" use="required" />
						<xs:attribute name="id" type="xs:string" use="optional" />
						<xs:attribute name="cloneof" type="xs:string" use="optional" />
						<xs:attribute name="cloneofid" type="xs:string" use="optional" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>

